body{
    
    background-color: #19123B;
}
.share-input:focus {
    outline: none !important;
    background: #212042;
    color: #fff;
    box-shadow: none;
}

.navbar{
    z-index: 1030;
    background-color: #19123B;
}

.container-navbar {
    margin-left: 250px;
}

.share-input {
  outline: 0 !important;
  box-shadow: none;
}

.bg-purple {
  background: #212042;
  color: #fff;
  border-radius: 10px;
}
.form-control{
    background: #212042;
    border: 1px solid #57557A;
}

.publish {
  border-radius: 0px!important;
  background: linear-gradient(180deg, rgba(176,106,252,1) 39%,rgba(116,17,255,1) 101%);
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
}

.publish:hover {
  border-radius: 0px!important;
  background: linear-gradient(0deg, rgba(176,106,252,1) 39%,rgba(116,17,255,1) 101%);
  color: #fff;
  cursor: pointer;
}

.profile-content{
    width: 100%;
}

.share i {
  color: rgb(159,159,242) !important;
}

.share {
  cursor: pointer;
}

.ads-text {
  font-size: 10px;
}

.ads-content span {
  font-size: 12px;
}

.time {
  font-size: 12px;
  color: #fff;
}

.profile-content span {
  font-size: 12px;
}

.content-image img {
  width: 100%;
  height: auto;
}

.ads-content img {
  width: 100%;
}

/* SIDE BAR */

body {
  overflow-x: hidden;
}

#sidebar {
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #343a40;
  padding-top: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease, opacity 0.3s ease;
  opacity: 0;
  z-index: 1040;
}

#sidebar.active {
  transform: translateX(0);
  opacity: 1;
}

#sidebar a {
  color: #fff;
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}

#sidebar a:hover {
  background-color: #495057;
}

#content {
  padding: 20px;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 1030;
}

#overlay.active {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 768px) {
  #sidebar {
    transform: translateX(0);
    opacity: 1;
  }

  #overlay {
    display: none;
  }

  #content {
    margin-left: 250px;
  }
}

@media (max-width: 600px){
    .container-navbar{
        margin: 10px 0;
    }
}